<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    {% load static %}
    <script src="{% static 'htmx.min.js' %}" defer></script>
    <style>
      .htmx-indicator {
          display: none;
      }
      .htmx-inverted-indicator {
        display: inline;
    }
      .htmx-request .htmx-indicator {
          display: inline;
      }
      .htmx-request .htmx-inverted-indicator {
        display: none;
    }
    </style>
  </head>
  <body>
    <h1>Recipe App</h1>
    {% block content %}
    {% endblock content %}
  </body>
</html>
